@using  stvsystem.Data
@model SettingItem

@Html.HiddenFor(model => model.SettingID)
@Html.HiddenFor(model => model.SelectionStatus)

@using (Html.BeginForm("DeleteSetting", "Setting", FormMethod.Post, new { id = "frmDelete" }))
{
<div>
    <p>
        Ցանկանում էք ջնջել կարգավորումները՞
    </p>
</div>

<div>
    <button type="submit" id="SubmitButton"><i></i>&nbsp;Ջնջել</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "Setting")'"><i></i>&nbsp;Չեղարկել</button>
</div>
}

