@using  stvsystem.Data
@model SettingItem

@if (Model.SelectionStatus == SettingStatus.InProcess)
{
    <div class="container-maxwidth500">
        <div class="card card-accent-info">
            <div class="card-header">
                Քվեարկությունն ընթացքում է
            </div>
            <div class="card-body">
                @Html.Partial("Chart")
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success" onClick="Search()"><i class="icons icon-refresh"></i>&nbsp;Թարմացնել</button>
                <button type="button" class="btn btn-sm btn-warning" onclick="location.href='@Url.Action("Complete", "Monitoring")'"><i class="icons icon-flag"></i>&nbsp;Ավարտել</button>
            </div>
        </div>
    </div>
}
else if (Model.SelectionStatus == SettingStatus.Finished)
{
    
    <div class="container-maxwidth500">
        <div class="card card-accent-success">
            <div class="card-header">
                Քվեարկությունն ավարտված է
            </div>
            <div class="card-body">
                @Html.Partial("Chart")
            </div>
        </div>
    </div>
}
else
{
    <div class="container-maxwidth500">
        <div class="card card-accent-warning">
            <div class="card-header">
                Ուշադրություն
            </div>
            <div class="card-body">
                Քվեարկությունը դեռ չի սկսվել
            </div>
        </div>
    </div>
}


