@using  stvsystem.Data
@{
    ViewData["Title"] = "Գաղտնաբառեր";
}

@if (Model != null && Model.SelectionStatus == SettingStatus.InPreparation)
{
    @model stvsystem.Data.Setting
    <div class="for-Toolbar">
        @(Html.Kendo().ToolBar()
        .Name("ToolBar")
        .Items(items =>
        {
            items.Add().Template("<button type=\"button\" name=\"Details\" onclick=\"Detalis()\" class=\"btn btn-sm btn-primary\"><i class=\"fa fa-file-pdf-o\"></i>&nbsp; Արտահանել</button>");
            items.Add().Template("<input id=\"start\" type=\"number\" placeholder=\"սկիզբ\" class=\"k-textbox k-numerictextbox\" style=\"height:31px\"/>");
            items.Add().Template("<input id=\"end\" type=\"number\" placeholder=\"ավարտ\" class=\"k-textbox\" style=\"height:31px\"/>");

        })
        )
        @* Search Panel - Right Slide *@
        <div class="right-slidePanel">
            <div class="slidePanel-Content">
                <div class="slidePanel-btn">
                </div>
                <div class="slidePanel-Content-fields create-item">
                    <h4>Որոնման դաշտեր</h4>
                    <div class="form-group margin-10-0">
                        <input type="number" id="idStr" placeholder="հ/հ" class="k-textbox k-numerictextbox width100" />
                    </div>
                    <div class="form-group margin-10-0">
                        <input type="text" id="pass" placeholder="գաղտնաբառ" class="k-textbox width100" />
                    </div>
                    <div class="form-group margin-10-0 align-right">
                        <button type="submit" id="btnSearch" class="btn btn-primary btn-sm" onclick="return Search();"><i class="icons icon-magnifier"></i>&nbsp;Որոնել</button>
                        <button type="submit" id="btnClear" class="btn btn-secondary btn-sm" onclick="return Clear();"><i class="icons icon-close"></i>&nbsp;Մաքրել</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    function Search() {
        $("#grCredential").data("kendoGrid").dataSource.read();
        return false;
    }

    function Clear() {
        $("#idStr").val("");
        $("#pass").val("");
        $("#grCredential").data("kendoGrid").dataSource.read();
        return false;
    }

    function getParameters() {
        return {
            idStr: $("#idStr").val(),
            password: $("#pass").val()
        };

    }

        function Detalis() {
            var start = $("#start").val();
            var end = $("#end").val();
            window.location = '@Url.Action("Detail", "Credential")/?start=' + start + '&end=' + end;
        }
    </script>

    @(Html.Kendo().Grid<stvsystem.Data.CredentialItem>()
                  .Name("grCredential")
                  .NoRecords(n => n.TemplateId("no-records-template-id"))
                  .Columns(columns =>
                  {
                      columns.Bound(c => c.CredentialID).Width(100);
                      columns.Bound(c => c.Password);
                  })
                  .Events(e => e.DataBound("showCommandIcons"))
                  .Sortable()
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable()
                  .Reorderable(reorder => reorder.Columns(true))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Events(events => events.Error("error_handler"))
                      .Read(read => read.Action("FilterCredential", "Credential").Data("getParameters"))
                  )
    )
    <script id="no-records-template-id" type="text/x-kendo-template">
        <div class="k-grid-norecords-template">Գրառումներ առկա չեն</div>
    </script>
}
else
{
    <div class="margin-15 full-height">
        <div class="card height100">
            <div class="card-header">
                <i class="icon icon-info"></i> Ուշադրություն
            </div>
            <div class="card-body">
                <div class="maxwidth500 row">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="h1 text-warning text-left mb-4">
                                    <i class="icon icon-info"></i>
                                </div>
                                <div class="h4 mb-0 text-warning">Ծածկագրերը դիտման և տպագրման համար ներկա փուլում հասանելի չեն:</div>
                                <br />
                                @if (Model != null && Model.SelectionStatus == SettingStatus.Finished)
                                {
                                    <small class="text-muted">Քվեարկությունն ավարտված է</small>
                                }
                                else if (Model != null && Model.SelectionStatus == SettingStatus.InProcess)
                                {
                                    <small class="text-muted">Քվեարկությունն ընթացքի մեջ է</small>
                                }
                                else
                                {
                                    <small class="text-muted">Դեռևս ստեղծված չեն կարգավորումներ</small>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

